@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&family=TWK+Everett:wght@500&display=swap');

.modulos-header {
  text-align: center;
  max-width: 56rem; /* Añadido para coincidir con features */
  margin-left: auto;
  margin-right: auto;
}

.modulos-title {
  font-size: 2.4rem;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 1.2rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #67e8f9, #6ee7b7, #67e8f9);
  background-size: 300% 300%;
  font-family: 'Corbel', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
}

.modulos-subtitle {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(219, 234, 254, 0.8); /* Cambiado para coincidir con features-subtitle */
  max-width: 48rem; /* Igual que features-subtitle */
  margin: 0 auto;
  font-family: 'Inter Tight', sans-serif; /* Añadida misma fuente */
  font-weight: 500;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .modulos-title {
    font-size: 3.6rem; /* Igual que features-title en media query */
  }
}